.body {
  margin: 0;
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #1e1e1e;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
blockquote {
  margin: 0;
  padding: 0;
}

.container {
  box-sizing: border-box;
  width: 360px;
  margin: 0 auto;
}

.container__theme--dark {
  color: #f5f5f5;
  background-color: #000000;
}

.container__theme--bright {
  color: #131313;
  background-color: #fee42a;
}

.theme__dark {
    color: #f5f5f5;
    background-color: #343434;
}

.theme__bright {
    color: #131313;
    background-color: #fee42a;
}


.header {
  display: flex;
  justify-content: space-between;
  padding: 24px 20px;
}
.logo__wrapper {
  display: block;
  width: 79px;
}

.logo {
  width: 100%;
}

.nav {
  font-size: 16px;
  line-height: 1.2;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin: 0;
  list-style-type: none;
}

.nav__link {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.nav__link--active {
  text-decoration: none;
}

.cover {
  min-height: 258px;
  padding: 7px 24px 35px 20px;
  background-image: url(images/cover.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 94% auto;
}
.cover__title {
  width: 100%;
  color: #ffffff;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 1;
  letter-spacing: 0;
}

.text {
  display: block;
}

.text__center {
  text-align: center;
}

.text__right {
  text-align: right;
}
.intro {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 20px 37px 20px;
}

.intro__header {
  display: flex;
  gap: 16px;
  color: #cccccc;
}

.intro__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.intro__date {
  white-space: nowrap;
}

.intro__text {
  line-height: 1.35;
  letter-spacing: 0;
}

.reasons {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 40px 20px;
}
.reasons__title {
  font-family: "EB Garamond", serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.15;
}

.reasons__text {
  font-size: 20px;
  line-height: 1.35;
}

.reasons__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  line-height: 1.35;
}

.reasons__item {
  margin-left: 17px;
}

.reasons__accent {
  font-weight: 700;
}

.solution {
  display: flex;
  flex-direction: column;
    gap: 32px;
  padding: 40px 20px 60px 20px;
}

.solution__title {
  font-family: "EB Garamond", serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.15;
}

.solution__text {
  font-size: 20px;
  line-height: 1.35;
}

.solution__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    list-style-type: none;

}

.solution__article {
    border-radius: 30px;
    padding: 20px;
}

.solution__author {
  display: flex;
    flex-direction: column;
}

.solution__author-name {
  font-weight: 700;
}

.solution__author-photo {
  width: 100%;
  max-width: 100px;
  margin-bottom: 8px;
  border-radius: 50%;
}

.solution__article-title {
    padding: 8px 0;
    font-family: "EB Garamond", serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.35;
}

.solution__article-text {
    font-weight: 400;
    line-height: 1.35;
}

.footer {
  padding: 20px;
}
