.body {
    box-sizing: border-box;
    margin: 0;
    color: #f5f5f5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: #1e1e1e;
}

.container {
    width: 360px;
    margin: 0 auto;
}

.container__theme--dark {
    color: #f5f5f5;
    background-color: #000000;
}

.container__theme--bright {
    color: #131313;
    background-color: #FEE42A;
}