.body {
    box-sizing: border-box;
    margin: 0;
    color: #f5f5f5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: #1e1e1e;
}

.container {
    box-sizing: border-box;
    width: 360px;
    margin: 0 auto;
}

.container__theme--dark {
    color: #f5f5f5;
    background-color: #000000;
}

.container__theme--bright {
    color: #131313;
    background-color: #FEE42A;
}

.header {
    margin-bottom: 35px;
    padding: 24px 20px;
}
.logo__wrapper {}

.logo {}

.nav {}

.nav__list {}
.nav__item {}
.nav__link {}

.cover {
    padding: 0 10px 35px 10px;
}
.intro {
    padding: 0 20px 35px 20px;
}
.reasons {
    padding: 40px 20px;
}
.solutions {
    padding: 35px 20px;
}
.footer {
    padding: 20px;
}